
@using UserProfile.Models
@using UserProfile.Views.Components
<h3>AuthorList</h3>

<table class="table table-light">
 
    @foreach (UserDetails author in ModelList)
    {
    <tr>
        <th>@author.userName</th>
        @foreach (BlogModel blog in author.Blogs)
        {
            // <td>@blog.Name</td>
            <td><SingleBlog Blog="@blog" Url="@Url" /></td>
        }

        <!---HERE WANTED TO PLACE ANOTHER FOR EACH BUT I HAVE DIFFERENT BLOGS WITH USERNAME REFERENCE in THE USERDETAILS TABLE---PLEASE HAVE A LOOK ON TABLE-->



    </tr>

           

        }



</table>

@code {

    [Parameter]
    public IEnumerable<UserDetails> ModelList { get; set; }
    [Parameter]
    public string Url { get; set; }


}
